/* base styles */
body {
    font-family: 'Kumbh Sans', sans-serif;
    background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    min-height: 700px;
}

.main-container {
    margin-top: 10em!important;
    padding-top: 9em!important;
    position: relative; 
    font-size: .9rem!important;
    border-radius: 20px!important;
}


.main-image-background {
    background: url('../images/bg-pattern-mobile.svg') no-repeat;
    position: absolute;
    height: 120px;
    width: 100%;
    z-index: 100;
    top: 140px;
    left: 70px;
}

.main-image {
    background: url('../images/illustration-woman-online-mobile.svg') no-repeat;
    position:absolute;
    height: 180px;
    width: 100%;
    z-index: 1000;
    top: 35px;
    left: 40px;
}

.strong-font {
    font-weight: 900;
}

.question-border {
    border-bottom: 1px solid hsl(240, 5%, 91%)!important;
}

/* button */
.flip {
    transition:all .5s;
    transform: rotate(180deg);
}
.border-button {
    border: 1px solid transparent;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    padding: .375rem .75rem;
}

.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution-color { 
    background-color: hsl(240, 73%, 65%); 
}