/* base and container styles */

body {
    font-family: 'Kumbh Sans', sans-serif;
    background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    min-height: 700px;
}

h1 {
    color: hsl(238, 29%, 16%);
}

p[class="mb-0"] a {
    cursor: pointer;
    text-decoration: none!important;
    color: hsl(237, 12%, 33%)!important;
}

p[class="mb-0"] a:hover {
    color: hsl(14, 88%, 65%)!important;
}

div[class="mb-3 mt-2"]{
    color: hsl(240, 6%, 50%);
}

.main-container {
    margin-top: 10em!important;
    padding-top: 9em!important;
    position: relative; 
    font-size: .9rem!important;
    border-radius: 20px!important;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.4);
}

/* images */

.main-image-background {
    background: url('../images/bg-pattern-mobile.svg');
    background-repeat: no-repeat;
    position: absolute;
    height: 120px;
    width: 250px;
    z-index: 100;
    top: -3px;
    left: 50px;
}

.main-image {
    background: url('../images/illustration-woman-online-mobile.svg');
    background-repeat: no-repeat;
    position:absolute;
    height: 180px;
    width: 275px;
    z-index: 1000;
    top: -110px;
    left: 23px;
}

/* misc */

.strong-font {
    font-weight: 900;
    text-decoration: none!important;
}

.question-border {
    border-bottom: 1px solid hsl(240, 5%, 91%)!important;
}

.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution-color { 
    background-color: hsl(240, 73%, 65%); 
}

/* button */

.flip {
    transform: rotate(180deg);
}

.border-button {
    border: 1px solid transparent;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    padding: .375rem .75rem;
}

/*  media queries */

@media (min-width: 376px) {
    .main-container {
        width: 343px;
        margin-left: auto!important;
        margin-right: auto!important;
    }
}

@media (min-width: 768px) {
    body {
        height: 100vh;
    }  
    .main-container {
        margin-top: 20%!important;
    }
}

@media (min-width: 1200px) {
    body {
        height: 100vh;
    }
    .wrapper {
        width: 350px;
        margin-right: 2em;
    }
    .main-container {
        width: 900px!important;
        height: 570px;
        margin-top: 7em!important;
        padding-top: 5em!important;
        padding-bottom: 5em!important;
    }
    .main-image-background {
        background: url('../images/bg-pattern-desktop.svg');
        background-position: 100% -270px;
        height: 570px;
        width: 400px;
        z-index: 100;
        top: 0;
        left: 0;
    }
    .main-image {
        background: url('../images/illustration-woman-online-desktop.svg');
        background-position: 100% 0;
        background-repeat: no-repeat;
        height: 360px;
        width: 400px;
        z-index: 1000;
        top: 60px;
        left: 0;
    }
    .box {
        background: url('../images/illustration-box-desktop.svg');
        position: absolute;
        height: 110px;
        width: 150px;
        z-index: 2000;
        top: 200px;
        left: -93px;
    }
}

@media (min-width: 1440px){
    .main-container{
        margin-top: 8em!important;
    }
}
